!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
*.launch
*.sublime-workspace
.DS_Store
.c9/
.classpath
.history/*
.idea
.project
.sass-cache
.settings/
.vscode/*
Thumbs.db
bazel-out
build
chrome-profiler-events*.json
connect.lock
coverage
dist
libpeerconnection.log
node_modules
npm-debug.log
out-tsc
package-lock.json
testem.log
tmp
typings
yarn-error.log
yarn.lock
